

@import url(https://fonts.googleapis.com/css?family=Lovers+Quarrel);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);


/* ====================================================
Site-wide styling
==================================================== */

body {
  font-family: 'Fira Sans', sans-serif;
  /*font-family: sans-serif;*/
  background-color: #262626;
  color: rgba(255,255,255,.8);
}

a {
 color: rgba(255,255,255,.5);
}

a:hover {
 color: rgba(255,255,255,.3);
}

/* ====================================================
Bubble Chart Headers
==================================================== */
h2 {
 font-family: 'Fira Sans', sans-serif;
 text-align: center;
 margin-bottom: .5rem;
 font-weight: 400;
}

#chart-description {
/* keep for d3 */
}

#chart-year  {
/* keep for d3 */
}

 h3.weight-description {
  color: rgba(255,255,255,.8);
  font-size: 120%;
  font-weight: 100;
  margin: .5rem 0 0 0;
  padding-top: .5rem;
  padding-bottom: 1rem;
  text-align: center;
}

/* ====================================================
Bubble Chart
==================================================== */
.container {
  padding: 0 0 0 10rem;
  height: 4rem;
  margin: auto;
  text-align: center;
  display: block;
}

svg {
  margin: 0 1rem .5rem 2rem;
}

circle {
  opacity: .92;
}


/* ====================================================
Sidebar
==================================================== */
.sidebar {
  background-color: rgba(64, 64, 64, .3);
  font-size: 120%;
  height: 100%;
  width: 18rem;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 1rem 1rem 0 1rem;
  z-index: -1;
}

h1.title {
  font-family: 'Lovers Quarrel', cursive;
  font-size: 350%;
  font-weight: 100;
  margin: 10px 10px 20px 10px;
  color: rgba(255,255,255,.8);
}

#sitedescription{
  font-size: 85%;
  color: rgba(255,255,255,.7);
  line-height: 1.4;
}

/* ====================================================
Sidebar - Buttons
==================================================== */
button, input.refusetype {
  background-color: #eee;
  color: #34202c;
  padding: 3px .5rem;
  text-align: left;
  text-decoration: none;
  font-size: 80%;
  margin: .3rem;
  width: 75%;
  border-radius: 3px;
  border: 1px solid gray;
  cursor: pointer;
}


/* ==============================================
Sidebar - Dropdown Button Years
============================================== */
.dropdown {
  display: inline-block;
  position: relative;
  margin: .5rem 0 0 .5rem;
  color: rgba(0,0,0,1);
}

.dd-button {
  /*margin-top: 1rem;*/
  display: inline-block;
  border: 1px solid gray;
  border-radius: 3px;
  padding: .4rem 2rem .4rem .5rem;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
  font-size: 80%;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
/*   The tiny black dropdown arrow */
  border-top: 8px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
  font-size: 12px;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: .5rem 1rem;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  /*padding: 1rem 2rem;*/
}


/* ====================================================
Footer
==================================================== */
footer {
  position: absolute;
  bottom: 1rem;
  font-size: 80%;
  padding: 1rem 0;
}

a.footer-link {
text-decoration: none;
color: ;
}

/* ====================================================
Media Queries
TODO:
==================================================== */
@media only screen and (max-width: 600px) {



}

